<h1 class="mt-4 is-size-1 has-text-centered">Zaloguj się</h1>
<div class="container ">
  <div class="columns is-justify-content-center">
    <div class="column is-half mt-4 ">
      <div class="card ">
        <%= form_with(scope: :session, url: login_path ,local: true, data: { turbo: false }) do |f| %>

          <p>
            <%= f.label :email %><br/>
            <%= f.email_field :email %>
          </p>

          <p>
            <%= f.label :password %><br/>
            <%= f.password_field :password %>
          </p>

          <p>
            <%= f.submit("zaloguj sie", class: "button is-success") %>
          </p>

        <% end %>
      </div>
    </div>
  </div>

</div>